@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

:root {
    --main: #0D0D0D;
    --secondary: #F3CB8A;
    --mainFont:'Fraunces', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--mainFont);
}

body {
    background: var(--main);
    color: var(--secondary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* intro */

.intro {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    cursor: pointer;
    z-index: 1;
}

.intro div {
    height: 50vh;
    background-color: var(--main);
}

.intro:hover div {
    letter-spacing: 1rem;
    transition: all 1s;
}

.top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slide-top {
    transition: all 1s ease-in-out;
    transform: translateY(-1000px);
}

.slide-bottom {
    transition: all 1s ease-in-out;
    transform: translateY(1000px);
}

/* main */

main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: 1fr;
    gap: 2rem;
    font-size: 3rem;
}

.hidden {
    display: none;
}

main > div {
    position: relative;
    width: 100%;
    aspect-ratio: 1 /1;
    display: flex;
    cursor: pointer;
}

.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
    transition: transform 1s;
}

.about-me-btn,
.about-me-btn > .cover {
    border-top-left-radius: 100%;
    align-items: flex-end;
}

.about-me-btn:hover > .cover:not(.cover-page) {
    transform: translate(-100%, -100%) rotate(180deg);
}

.hobbies-btn,
.hobbies-btn > .cover {
    border-top-right-radius: 100%;
    align-items: flex-end;
}

.hobbies-btn:hover > .cover:not(.cover-page) {
    transform: translate(100%,-100%) rotate(180deg);;
}

.skills-btn,
.skills-btn > .cover {
    border-bottom-left-radius: 100%;
    align-items: flex-start;
    justify-content: flex-end;
}

.skills-btn:hover > .cover:not(.cover-page) {
    transform: translate(-100%,100%) rotate(180deg);;
}

.projects-btn,
.projects-btn > .cover {
    border-bottom-right-radius: 100%;
    align-items: flex-start;
}

.projects-btn:hover > .cover:not(.cover-page) {
    transform: translate(100%,100%) rotate(180deg);;
}

.cover-page {
    transform: scale(15);
    transition: all 1.5s;
    background-color: var(--main);
    z-index: 1;
}

/* sections */

section {
    position: absolute;
    display: none;
    animation: fade-in 1s forwards;
    height: 100vh;
    background-color: var(--main);
    color: var(--secondary);
    z-index: 10;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

.close-section-btn {
    position: fixed;
    height: 4rem;
    aspect-ratio: 1 / 1;
    top: 3rem;
    left: 3rem;
    font-size: 3rem;
    background-color: var(--main);
    color: var(--secondary);
    border: none;
    cursor: pointer;
}

.slide-wide {
    transform: translateX(-2000px);
    transition: transform 2s;
}

/* about me */

.about-me .container {
    width: 90%;
    height: 50%;
    display: flex;
}

.about-me-left {
    width: 100%;
    height: 100%;
    text-align: center;
}

.about-me img {
    border-radius: 1rem;
    height: 100%;
}

.about-me-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.about-me-right h1 {
    padding: 3rem;
}

.find-me {
    margin-block: 1rem;
    padding: 1rem;
    border: 1px solid rgb(36, 35, 35);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
}

/* hobbies */

.hobbies .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    height: 50%;
    width: min(40rem, 25%);
    margin: 1rem;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    border: 1px solid var(--secondary);
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .8s;
    transform-style: preserve-3d;
}

.rotated {
    transform: rotateY(180deg);
}

/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card img {
    width: 100%;
}

.chelsea {
    color: #044794;
}

.marvel {
    background: -webkit-linear-gradient(#E6030C, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.boardgames {
    color: #941818;
}

.flip-card a {
    text-decoration: none;
    color: rgb(116, 70, 93);
}

.flip-card a:hover {
    text-decoration: underline;
    color: rgb(185, 111, 148);
}

/* skills */

.skills .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill {
    padding: 1rem;
    font-size: 3rem;
    border-radius: 25px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.skill i {
    animation: wiggle 300ms 2s 4;
    cursor: pointer;
}

.meter { 
    height: 3rem;
    width: 15rem;
    position: relative;
    background: var(--main);
    border-radius: 2rem;
    padding: .6rem;
    border: 1px solid rgb(36, 35, 35);
    display: none;
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 2rem;
}

/* keyframes */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes wiggle {
    0% {
      transform: rotateZ(0);
    }
    50% {
      transform: rotateZ(-10deg);
    }
    100% {
      transform: rotateZ(10deg);
    }
  }